@import "./pages/Home/index.scss";
@import "./pages/MovieDetail/index.scss";
@import "./components/header/index.scss";
@import "./components/MovieCard/index.scss";

* {
    box-sizing: border-box;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    
}

body{
    background-image: url('../src/assets/universe1.jpg');
}